@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2")
      format("woff2-variations");
  font-style: normal;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.5bf3b3356a2ecabcfef6f3e31549ac15.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.5bf3b3356a2ecabcfef6f3e31549ac15.woff2")
      format("woff2-variations");
  font-style: italic;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0600-06FF, U+0750-077F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.ab0a4ad20fdb2bca9e39485001f65329.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.ab0a4ad20fdb2bca9e39485001f65329.woff2")
      format("woff2-variations");
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0400-04FF;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.a9f22da35972dbeb4d0373ba86e3a500.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.a9f22da35972dbeb4d0373ba86e3a500.woff2")
      format("woff2-variations");
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.f9f38717c80b9891a43a7e5d9f109365.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.f9f38717c80b9891a43a7e5d9f109365.woff2")
      format("woff2-variations");
  font-display: swap;
}

@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.9c00198218646e3b3f345aa4bc3fda51.woff2")
      format("woff2-variations");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --theme-color: rgb(236, 236, 236);
  --main-color: #ff385c;

  --font-two: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont,
    Roboto, "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--font-two);
  font-size: 0.875rem;
  line-height: 1.43;
  color: #222222;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  display: block;
}

/* --------------- Header --------------- */
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 4;
  top: 0px;
  background-color: white;
}

header .search-area {
  width: 100%;
  height: 56px;
  margin: 4px 24px 0;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 0 4px;
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  z-index: 10;
}

header .search-width-744 {
  display: none;
}

header button .search-icon {
  max-width: 52px;
  min-width: 42px;
  width: 100%;
  height: 20px;
}

.search-icon img {
  width: 20px;
  height: 20px;
}

header button .search-text {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

button .search-text .search-area-line1 {
  align-items: start;
  width: max-content;
  font-family: var(--font-two);
  color: #222222;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.search-text .search-area-line2 {
  width: max-content;
  color: #6a6a6a;
  line-height: 1rem;
  font-weight: 400;
  line-height: 16px;
  padding-right: 24px;
}

.search-text .search-area-line2 span {
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 0 1 auto;
  font-size: 0.75rem;
  letter-spacing: normal;
  font-family: var(--font-two);
}

.search-area-line2 .dot {
  font-size: 16px;
  line-height: 15px;
  margin: 0 5px;
}

/* --------------- Menu --------------- */
menu {
  overflow: hidden;
  position: fixed;
  z-index: 30;
  top: 70px;
  background-color: transparent;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 24px;
  border-bottom: 0.1px solid rgb(238, 236, 236);
  background-color: #fff;
}
menu .slidebar {
  display: flex;
  width: 150%;
  gap: 26px;
}

menu .slidebar-item {
  line-height: 16px;
  gap: 2px;
  min-width: 64px;
  padding: 4px 0;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 12px;
}

menu .slidebar-item:nth-child(1) {
  border-bottom: 2px solid black;
}

menu .slidebar-item:nth-child(n + 2) {
  padding-bottom: 14px;
}

menu .slidebar-item img {
  width: 24px;
  height: 26px;
  padding-bottom: 2px;
}

menu .slidebar-item p {
  font-size: 0.85em;
  color: gray;
  font-weight: 500;
}

/* --------------- Main section --------------- */
.container {
  padding: 0 24px;
}
main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  margin-top: 158px;
}

.main-section-heading p {
  width: 88%;
}

main .marble-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}

main .marble-section .marble {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  /* margin-top: 1.5em; */
}

main .marble-section .marble-image {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 315.8/300;
}

main .marble-section .marble .marble-image img {
  aspect-ratio: 315.8/300;
  width: 100%;
  height: 100%;
  object-fit: contain;
  scale: 1.4;
}

main .marble-section .marble-image .overlay-text-live {
  position: absolute;
  z-index: inherit;
  width: 50px;
  height: 30px;
  top: 12px;
  left: 12px;
  background-color: rgba(233, 233, 232, 0.952);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 14px 28px;
}

main .marble-section .marble-image .overlay-text {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  background-color: rgba(233, 233, 232, 0.952);
  z-index: inherit;
}

main .marble-section .marble-image .overlay-text-bottom-dots {
  position: absolute;
  z-index: inherit;
  bottom: 15px;
  width: 20%;
  margin-left: 41%;
  letter-spacing: 0.18rem;
  color: rgba(240, 239, 239, 0.815);
  font-size: 0.84em;
}

main .marble-section .marble-image .overlay-text-bottom-dots .first-dot {
  color: white;
}

main .marble-section .marble-image .overlay-text img {
  width: 12px;
  height: 12px;
  margin: 9px;
}

.doja-img {
  background-color: rgb(29, 11, 11);
}

.doja-img img {
  aspect-ratio: 315/300;
  scale: 2.5;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.marble .marble-heading {
  margin-top: 7px;
  font-size: 1em;
  font-weight: 550;
  line-height: 19px;
  color: #222222;
}

.marble .name {
  /* line-height: inherit; */
  overflow: clip;
  font-size: 0.905rem;
  color: gray;
  line-height: 19px;
}

.marble .last {
  font-size: 15px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  line-height: 19px;
}

.marble .last .last-insider {
  font-weight: 500;
  /* font-size: 0.9em; */
}

/* ---------------Main section for Past experience --------------- */

#past-experiences {
  margin: 0px;
  /* margin-top: 52px; */
  margin: 52px 0 24px;
}

.main-section-heading {
  margin-bottom: 24px;
}

.main-section-heading p {
  font-size: 32px;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: -0.64px;
}

/* --------------- Footer section 1 --------------- */
footer {
  background-color: rgba(241, 241, 241, 0.74);
  padding: 6%;
  padding-bottom: 2%;
  padding-left: 1.6rem;
  padding-right: 3.8%;
  margin-top: 3.2rem;
  overflow: hidden;
  padding-top: 48px;
}

footer .footer-section-1 .footer-heading p {
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.22px;
}

footer .footer-section-1 .footer-slidebar {
  display: flex;
  gap: 1.1rem;
  flex-direction: row;
  align-items: center;
  width: 900%;
  border-bottom: 1px solid rgb(211, 211, 211);
}

footer .footer-slidebar .footer-slidebar-item {
  height: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-right: 10px;
}

footer .footer-slidebar .footer-slidebar-item p {
  color: rgb(146, 146, 146);
  font-weight: 600;
  letter-spacing: 0.024em;
}

footer .footer-slidebar .footer-slidebar-item:nth-child(1) {
  border-bottom: 2.5px solid black;
}

footer .footer-section-detail {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.2rem;
}

footer .footer-slidebar .footer-slidebar-item:nth-child(1) p {
  color: black;
}

footer .footer-section-detail .footer-heading-detail {
  font-size: 0.9rem;
  font-weight: 500;
  color: #222222;
  text-overflow: ellipsis;
  line-height: 1.125rem;
  font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif;
}

footer .footer-section-detail {
  text-overflow: ellipsis;
}

footer .footer-section-detail .row {
  text-overflow: ellipsis;
}

footer .footer-section-detail .footer-details {
  color: rgb(158, 156, 156);
  font-size: 1em;
}

.footer-section-detail .row:nth-child(n + 8) {
  display: none;
}

/* --------------- Footer tab section --------------- */
.footer-tab-section {
  margin-top: 0.05rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding-top: 1.43rem;
  padding-bottom: 0rem;
}

.footer-tab-section ul {
  line-height: 2.3em;
  padding-top: 1.8em;
  padding-bottom: 1.3em;
  border-bottom: 0.5px solid rgb(212, 212, 212);
  border-top: 0.5px solid rgb(212, 212, 212);
}

.footer-tab-section .footer-tab-heading {
  line-height: 1.125rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.footer-tab-section ul:nth-child(1) {
  grid-row: 1/2;
}

.footer-tab-section ul:nth-child(2) {
  grid-row: 2/3;
}

.footer-tab-section ul:nth-child(3) {
  grid-row: 3/4;
  height: fit-content;
}

footer .footer-tab-section ul li {
  list-style-type: none;
  letter-spacing: 0.03em;
}

/* --------------- end footer section --------------- */
footer .end-footer {
  padding-top: 1.2rem;
}

footer .end-footer .language-country {
  display: flex;
  align-items: center;
  font-size: 0.78rem;
  font-weight: 600;
}

footer .end-footer .language-country .footer-globe {
  width: 15px;
  height: auto;
}

footer .end-footer .social-logo {
  display: none;
}
footer .end-footer .common-style-footer {
  color: rgb(109, 108, 108);
  padding-top: 0.5rem;
}

footer .end-footer .privacy-terms {
  letter-spacing: 0.05em;
}

footer .end-footer .dot {
  font-size: 10px;
}

/* --------------- Tablet view screen size --------------- */

@media screen and (min-width: 550px) {
  menu .slidebar {
    gap: 1.5rem;
  }
  main {
    margin-top: 25%;
  }

  main .marble-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.7em;
  }

  footer .end-footer {
    padding-top: 0px;
  }
}

@media screen and (min-width: 744px) {
  header {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 80px;
  }

  .container {
    padding: 0 40px;
  }
  header .search-width-340 {
    display: none;
  }

  header .search-width-744 {
    width: 100%;
    display: flex;
    align-items: center;
  }
  header .airbnb-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header .airbnb-icon .company-name {
    display: none;
  }

  header .search-width-744 .icon {
    width: 2.3rem;
    height: 2.3rem;
  }

  header .search-width-744 .icon img {
    width: 2.3rem;
  }

  header .search-width-744 button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    min-width: 308.812px;
    max-width: 350.094px;
    width: 100%;
    overflow: hidden;
    background-color: #ffff;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    height: 48px;
    padding-left: 8px;
  }

  header .search-width-744 button ul {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    text-align: left;
  }

  header .search-width-744 button ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: rgb(34, 34, 34);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 0;
    line-height: inherit;
    margin: -1px;
    flex: 0 1 auto;
    height: 48px;
    overflow: visible;
    min-width: 0;
  }

  .search-textt {
    font-family: var(--font-two);
    display: flex;
    text-align: center;
    align-items: center;

    max-width: 99.33px;
    width: 100%;
    padding: 0 16px;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: 1.375rem;
    font-size: 14px;

    min-width: 80px;
  }

  .search-button-line {
    height: 24px;
    width: 1px;
    background-color: #dddddd;
  }

  header .search-width-744 button .search-icon {
    background-color: rgb(255, 36, 73);
    /* width: 1.8rem;
    height: 1.8rem; */
    width: 32px;
    height: 32px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 7px;
  }

  header button .search-icon {
    min-width: 0;
  }

  .search-width-744 .airbnb-nav-right-section {
    flex: 1 0 auto;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .airbnb-nav-right-section .xyz {
    display: flex;
    margin-right: 8px;
    flex: 1 1 auto;
    justify-content: flex-end;
  }

  .search-width-744 .airbnb-nav-right-section .nav-text {
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 142.188px;
    flex-wrap: nowrap;
  }
  .globe-logo {
    width: 40px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .globe-logo img {
    width: 16px;
    height: 16px;
  }

  .user-section {
    display: flex;
    align-items: center;
    height: 3rem;

    border-radius: 25px;
    border: 1px solid #dddddd;
    padding: 8px;
    padding-left: 14px;
  }

  .user-section .burger-line,
  .user-section .user-png {
    display: flex;
  }

  .user-png {
    margin-left: 14px;
  }

  .search-width-744 .airbnb-nav-right-section .burger-line img {
    width: 16px;
  }

  .search-width-744 .airbnb-nav-right-section .user-png img {
    width: 1.9rem;
  }

  header .search-width-744 .icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 64px;
    flex: 0 0 auto;
  }

  header .search-width-744 .icon img {
    width: 30px;
    height: 30px;
    scale: 1.1;
  }

  header .search-width-744 .search-area-744 {
    box-sizing: content-box;
    padding: 0 24px;
    flex: 1 1 auto;
    min-width: 348px;
    max-width: 350px;
  }

  menu {
    border-top: 0.1px solid rgb(238, 236, 236);
    top: 80px;
    background-color: #fff;
    height: 78px;
  }

  menu .slidebar {
    gap: 2.5rem;
  }
  .main-body {
    display: flex;
    justify-content: center;
  }

  main .marble-section .marble .marble-image {
    width: 100%;
    aspect-ratio: 332/315.391;
  }

  main .marble-section .marble .marble-image img {
    aspect-ratio: 332/315.391;
  }

  main {
    margin-top: 7.5rem;
  }

  main .marble-section {
    width: 100%;
    /* margin: 3rem 0; */
    margin-top: 3rem;
  }

  #past-experiences .marble-section {
    margin-top: 0;
  }

  .main-section-heading p {
    /* margin-left: 1.5rem; */
  }
  a footer {
    padding-left: 2rem;
  }

  footer .footer-section-detail {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
  }

  .footer-section-detail .row:nth-child(n + 8) {
    display: block;
  }

  .footer-section-detail .row:nth-child(n + 12) {
    display: none;
  }

  footer .end-footer .social-logo {
    display: flex;
  }

  .end-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .end-footer .language-country {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .language-country-text,
  .currency {
    font-size: 0.8rem;
  }

  .social-logo {
    width: 6rem;
    height: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .language-country .social-logo img {
    width: 18px;
    height: auto;
  }

  .language-country .currency::after {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0";
  }
}

@media screen and (min-width: 950px) {
  header .search-width-744 {
    display: flex;
    justify-content: space-between;
  }

  header .search-width-744 .airbnb-icon {
    flex: 1 0 140px;
  }

  header .search-width-744 .search-area-744 button {
    transform-origin: 50% 50%;
    margin: 0 auto;
    transform: scale(1, 1) translateY(0);
    vertical-align: middle;
  }

  header .search-width-744 .airbnb-nav-right-section {
    flex: 1 0 140px;
  }

  main .marble-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  footer .footer-section-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .footer-tab-section {
    display: flex;

    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-tab-section ul:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .footer-tab-section ul:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer-tab-section ul:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .footer-tab-section ul {
    border: none;
  }

  .footer-tab-section {
    border-bottom: 0.5px solid rgb(212, 212, 212);
    border-top: 0.5px solid rgb(212, 212, 212);
  }
}

@media screen and (min-width: 1128px) {
  header .search-width-744 {
    display: flex;
  }

  header .search-width-744 .icon {
    display: none;
  }

  header .airbnb-icon .company-name {
    display: contents;
    color: var(--main-color);
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;
  }

  menu .slidebar {
    gap: 2.8rem;
  }

  main .marble-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  footer .footer-section-detail {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: rows(3, 1fr);
  }

  .footer-section-detail .row:nth-child(n + 12) {
    display: block;
  }

  .footer-section-detail .row:nth-child(13) {
    display: none;
  }

  footer .end-footer {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  footer .end-footer .year-airbnb {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  footer .end-footer .privacy-terms {
    grid-column: 3/8;
    grid-row: 1/2;
  }

  footer .end-footer .language-country {
    grid-column: 12/16;
    grid-row: 1/2;
  }

  footer .end-footer .language-country {
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  header,
  .container {
    padding: 0 80px;
  }

  /* #first-main {
    margin-top
  } */
}

@media screen and (min-width: 1640px) {
  menu,
  main {
    padding: 3rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  main {
    padding: 0;
    padding-top: em;
  }

  menu .slidebar {
    gap: 2.2rem;
  }

  main .marble-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    /* margin-left: 4rem;
    margin-right: 4rem; */
  }

  .main-section-heading p {
    /* margin-left: 5.2rem; */
  }

  main .marble-section .marble {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .marble .marble-heading,
  .marble .name,
  .marble .last {
    width: 100%;
  }

  main .marble-section .marble-image {
    width: 95%;
  }

  footer {
    padding-left: 4.9em;
    padding-top: 3.5rem;
  }

  footer .end-footer {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
  }

  footer .end-footer .year-airbnb {
    grid-column: 1/4;
  }

  footer .end-footer .privacy-terms {
    grid-column: 4/16;
  }

  footer .end-footer .language-country {
    grid-column: 29/31;
  }

  .social-logo {
    padding-left: 0.5em;
  }
}

@media screen and (min-width: 1880px) {
  header,
  .container {
    max-width: 2360px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
  }

  menu .slidebar {
    gap: 2.7rem;
  }
  main .marble-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  footer {
    padding-left: 23.6rem;
    padding-right: 23.6rem;
  }
  footer .end-footer .year-airbnb {
    grid-column: 1/6;
  }

  footer .end-footer .privacy-terms {
    grid-column: 6/18;
  }
}
